/* styles.css */

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fonts */
body {
    font-family: 'Roboto', sans-serif; /* Change font family to Roboto */
}

/* Navigation */
nav {
    background-color: #547ea4;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}


/* Sections */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 20px;
}

h1, h2, h3, h4 {
    color: #547ea4;
}

/* Homepage */
#home {
    background-color: #e9ebef;
    text-align: center;
    padding: 100px 0;
}

#home h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #547ea4;
    transition: font-size 0.3s ease; /* Add transition for font size */
}

#home p {
    font-size: 1.2em;
}

#home p:hover {
    color: #e87502;
}

/* About Me */
#about {
    background-color: #e9ebef;
    padding: 50px 0;
}

/* Experience, Leadership, Skills & Interests, Projects, Contact */
section {
    background-color: #e9ebef;
    padding: 50px 0;
}

/* Footer */
footer {
    background-color: #547ea4;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Links */
a {
    color: #547ea4;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #e87502;
}

/* Experience List */
#experience ul {
    list-style-type: disc; /* Add bullet points */
}

/* Experience List Items */
#experience ul li {
    margin-bottom: 10px; /* Add spacing between list items */
}

/* Hover effect for section headers */
h2:hover {
    color: #e87502;
    cursor: pointer;
}
